
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  var */
:root {
  --blue: #66ace6;
  --dark-purple: #463e52;
  --pink: rgb(255, 192, 192);
  --cream: #FFFDD0;
  --tbd-image: url("https://www.wholesaleforeveryone.com/mm5/graphics/00000001/products/BN/BNSS0100/BNSS0100_22_0283_0001.jpg");
}

html {
  scroll-behavior: smooth;
}

/* Header code */
header {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  background-color: var(--blue); 
}

header h1 {
  padding-left: 50px;
}

header nav ul {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 0px;
}

header nav ul li {
  font-size: 1.8vw;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

header a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--pink);
  color: var(--cream);
}

/* Body Code */
body{
  background-color: var(--cream); 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Footer code */
footer {
  background-color: var(--blue); 
  color: var(--cream); 
}

footer a {
  text-decoration: none;
  border-bottom: 2px solid var(--pink); 
  color: var(--cream); 
  font-size: 1.8vw; 
  font-weight: bold;
}

/* Header hover */
.nav-effects a:hover{ 
  color: var(--pink);
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--dark-purple);
}

/* Work hover */
.work-grid-container div:hover{ 
  mix-blend-mode:exclusion;
}

/* Footer hover */
.footer-container a:hover{
  color: var(--pink);
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--dark-purple);
}

/*hero section */
.hero { 
  height: 300px;
  background-image: url("https://emilyjanesimkins.files.wordpress.com/2014/01/floral-header.png");
  border-bottom-left-radius: 30px 30px; 
  border-bottom-right-radius: 30px 30px;
  background-size: cover; 
  background-position:  100% 13%; 
  background-attachment: fixed; 
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row; 
  align-items: flex-end;
}

.hero-subtitle { 
  padding-bottom: 15px;
  padding-right: 15px;
}

/* About Me*/
.about-me-wrapper { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

.about-me-grid-container {
  width: 80%; 
  display: grid;
  grid-template-rows: repeat(4, 1fr); 
  gap: 10px 10px; 
}

.about-me-item.about-me-title { 
  padding-top: 0px;
  font-size: 35px;
  grid-row: 1 / span 4;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid var(--pink);
}

.about-me-item.p1 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.about-me-item.p2 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
}


/* Work */
.work-wrapper { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;

}
.work-grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr); 
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 10px; 
}

.work-item.work-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 9;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--pink);
}

.work-item-project.challenge-1-refactor {
  grid-column: 2 / span 2;
  grid-row: 1 / span 6;
  background-image: url("https://i.imgur.com/fUTqLVM.png");
  background-size: cover; 
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--pink);
}

.work-item-project.group-project1 {
  grid-column: 2 / span 1;
  grid-row: 7 / span 3; 
  background-image: url("https://github.com/Ayla122/Professional-Portfolio/blob/main/assets/images/ferias.png?raw=true");
  background-size: cover; 
  display: flex;
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--pink);
}

.work-item-project.group-project-2 {
  grid-column: 3 /span 1;
  grid-row: 7 / span 3;
  background-image: url('./assets/images/swapsies.png');
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--pink);
}

.work-item-project.TBD-3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  background-image: var(--tbd-image);
  background-size: 300px 200px, cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--pink);
}

.work-item-project.TBD-4 {
  grid-column: 4 / span 1;
  grid-row: 4 / span 3;
  background-image: var(--tbd-image);
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--pink);
}

.work-item-project.TBD-5 {
  grid-column: 4 /span 1;
  grid-row: 7 / span 3;
  background-image: var(--tbd-image);
  background-size: cover;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--pink);
}

/* span */
.span-background { 
  background-color: var(--pink);
  position: relative;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5%;
  opacity: .8;
}

.span-background.title { 
  margin-top: 10px;
  margin-bottom: 20px;
}

.span-background.opacity{
  opacity: .95; 
  font-size: 30px;
}

.span-background.lower-text {
  font-size: x-small;
}

/* footer */

.footer-wrapper { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container { /* CSS Grid */
  width: 80%;
  display: grid;
  /*create a 4X3 grid. */
  grid-template-columns: 1fr repeat(3, 2fr); /* Create a 4X4 grid with the first column smaller than the others 3 */
  grid-template-rows: repeat(3,2fr); /* 3 rows of slighty biger size as a test */
  gap: 20px 20px; 
}

.footer-grid-item {
  text-align: center;
}

.footer-grid-item.contact-me {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--pink);
}

.footer-grid-item.phone{
  grid-row: 2;
}

.footer-grid-item.email{
  grid-row: 2;
}

.footer-grid-item.git-hub{
  grid-row: 2;
}

/* small screen 980*/

@media screen and (max-width: 980px) {

  
  header {
    justify-content: center;
  }

  header h1 {
    
    padding-left: 0px;
  }

  .hero-subtitle {
    padding-right: 30px;
  }

  .span-background.opacity{
    font-size: 25px;
  }

  .hero {
  background-attachment: scroll;
  }

  .about-me-wrapper {
    margin-top: 20px;
  }

  .about-me-grid-container {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px 5px; 
  }

  .about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--pink);
  }

  .about-me-item.p1 {
    padding-top: 5px;
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
  }

  .about-me-item.p2 {
    padding-top: 5px;
    grid-column: 1 / span 3;
    grid-row: 4 / span 2;
    padding-bottom: 10px;
  }
  
  

  .footer-wrapper {
    margin-top: 20px;
  }

  .footer-container { 
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .footer-grid-item.contact-me {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--pink);
    padding-left: 25px;
  }

  .footer-grid-item.phone{
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 10px;
  }

  .footer-grid-item.email{
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    padding-left: 25px;

  }

  .footer-grid-item.git-hub{
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
    align-self: center;
    width: 20px;
    padding-left: 80px;
  }
}

/* small screen 768 */
@media screen and (max-width: 768px) {
  header a {
    font-size: 3vw;
  }

  footer a {
    font-size: 3vw;
  }

  .nav-effects a:hover{
      font-size: 3vw; 
  }

  .footer-container a:hover{
    font-size: 1.8vw;
  }

  .hero {
    background-attachment: scroll;
  }
    
  .about-me-grid-container { 
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: .5fr repeat(4, 1fr);
    gap: 5px 5px; 
  }
  .about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right: none;
    border-bottom: 2px solid var(--pink);
    align-self: start;
  }

  .about-me-item.p1 { 
    padding-left: 0px;
  }

  .about-me-item.p2 { 
    padding-left: 0px;
  }

  .work-wrapper {
    margin-top: 15px;
  }

  .work-grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr repeat(10, 1fr);
    gap: 2.5px 2.5px;
  }

  .work-item.work-title {
    font-size: 35px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--pink);
    border-right: none;
    align-self: start;
  }

  .work-item-project.challenge-1-refactor {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    align-items: flex-end;
    text-align: center;
    background-position: scroll;   }

  .work-item-project.TBD-1 {
    grid-column: 1 /span 3;
    grid-row: 7 / span 1;
    padding-top: 30px;
    background-position: scroll;
    text-align: center;
  }
  .work-item-project.TBD-2 {
    grid-column: 1 /span 3;
    grid-row: 5 / span 2;
    align-items: flex-end;
    text-align: center;
    background-position: scroll; 
  }
  .work-item-project.TBD-3 {
    grid-column: 1 /span 3;
    grid-row: 8 / span 1;
    background-position: scroll;
    text-align: center;
  }
  
  .work-item-project.TBD-4 {
    grid-column: 1 /span 3;
    grid-row: 9 / span 1;
    background-position: scroll;
    text-align: center;
  }

  .work-item-project.TBD-5 {
    grid-column: 1 /span 3;
    grid-row: 10 / span 1;
    align-items: flex-end;
    text-align: center;
    background-position: scroll; 
  }
  
}
  .footer-wrapper { 
  margin-top: 10px;
  }



   /* small screen 575 */
@media screen and  (max-width: 575px) {
 
  header a {
    font-size: 4vw;
  }

  header nav ul {
    padding-right: 0px;
    justify-content: center;
  }
  
  header nav ul li {
    padding: 2px 2px 2px 2px;
  }

  p{
    font-size:5vw;
  }

  footer a {
    font-size: 3.5vw;
  }

  .nav-effects a:hover{
      font-size: 4vw; 
  }

  .footer-container a:hover{
    font-size: 3.5vw;
  }

  .footer-container {
    gap: 0px 0px;
  }

  .footer-grid-item.git-hub{ 
    padding-left: 30px;
  }
}